.pricing{
	@include grid(32rem);


	.information{


		span{
			font-size: 2rem;
			color: $main-red;
		}

		h3{
			font-size: 4rem;
			padding-top: .5rem;
			color: $main-white;
		}

		p{
			line-height: 2;
			padding: 1rem 0;
			font-size: 1.4rem;
			color: $main-light;

			i{
				padding-right: 1rem;
				color: $main-red;
			}
		}
	}

	.plan{
		text-align: center;
		padding: 2rem;

		&.basic{
			background: linear-gradient(130deg, #111 93%, transparent 90%);
		}

		h3{
			font-size: 2.5rem;
			margin: 1rem 0;
			color: $main-white;
		}

		.price{
			font-size: 5rem;
			font-weight: bolder;
			color: $main-red;

			span{
				color: $main-white;
				font-size: 2rem;
			}
		}

		.list{
			padding: 1rem 0;

			p{
				line-height: 2;
				padding: 1rem 0;
				font-size: 1.4rem;
				color: $main-light;
	
				i{
					padding-right: 1rem;
					color: $main-red;
				}
			}
		}
	}


}