.review {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
		 -ms-flex-align: center;
			  align-items: center;
	-ms-flex-wrap: wrap;
		 flex-wrap: wrap;
	gap: 2rem;
 }
 
 .review .information {
	-webkit-box-flex: 1;
		 -ms-flex: 1 1 35rem;
			  flex: 1 1 35rem;
 }
 
 .review .information span {
	font-size: 2rem;
	color: #f00;
 }
 
 .review .information h3 {
	font-size: 3rem;
	color: #fff;
	padding-top: 1rem;
 }
 
 .review .information p {
	font-size: 1.5rem;
	line-height: 2;
	color: #aaa;
	padding: 1rem 0;
 }
 
 .review .review-slider {
	-webkit-box-flex: 1;
		 -ms-flex: 1 1 60rem;
			  flex: 1 1 60rem;
 }
 
 .review .review-slider .slide {
	background: linear-gradient(130deg, #111 93%, transparent 90%);
	padding: 2rem 3rem;
 }
 
 .review .review-slider .slide p {
	font-size: 1.5rem;
	line-height: 2;
	color: #aaa;
 }
 
 .review .review-slider .slide .user {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
		 -ms-flex-align: center;
			  align-items: center;
	margin-top: 1.5rem;
 }
 
 .review .review-slider .slide .user img {
	height: 5rem;
	width: 5rem;
	-o-object-fit: cover;
		object-fit: cover;
	border-radius: 50%;
	margin-right: 1rem;
 }
 
 .review .review-slider .slide .user h3 {
	font-size: 2rem;
	color: #fff;
 }
 
 .review .review-slider .slide .user span {
	color: #f00;
	font-size: 1.5rem;
 }
 
 .review .review-slider .slide .user i {
	font-size: 5rem;
	margin-left: auto;
	margin-right: 2rem;
	color: #f00;
 }
 