html {
	font-size: 62.5%;
	scroll-behavior: smooth;
	scroll-padding-top: 5rem;
	overflow-x: hidden;
 }
 
 html::-webkit-scrollbar {
	width: 1rem;
 }
 
 html::-webkit-scrollbar-track {
	background: #000;
 }
 
 html::-webkit-scrollbar-thumb {
	background: #f00;
 }